:root {
  /**
   * colors P1
   */
  /*  --bg-red: #cf4647;
  --bg-blue: #30475e;

  /**
   * colors P2
   */
  /* --bg-white: #eeeeee;
  --bg-orange: #d65a31;
  --bg-gray: #393e46;
  --bg-black: #222831; */

  /*   Color Pallete
 */
  --dark-blue-almost-black: #010521;
  --darker-blue: #03273f;
  --dark-blue: #010942;
  --very-blue: #051696;
  --light-blue: #6475fa;
  --eggshell: #e1ebed;
  --white: #ffffff;

  /**
   * shadow
   */

  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

  /**
   * radius
   */

  --radius-5: 5px;
  --radius-8: 8px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* Title Font */
@font-face {
  font-family: jhFont;
  src: url(../fonts/Jonathan\ Hetegral.otf);
}

.logo {
  font-family: jhFont;
}

.hero-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/* Add some extra space between the navbar and the hero section */
.top {
  margin-bottom: 20px;
}
/* Add padding to the hero section */
.hero-section {
  padding: 20px;
}
.max-width-75 {
  max-width: 75%;
}

.card {
  background-color: var(--darker-blue);
}

.card:hover {
  transform: scale(1.05);
}
.animated {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.vscode {
  transform-style: preserve-3d; /* Ensure 3D transformation is preserved */
  transition: transform 0.5s ease; /* Specify the transition property */
}

.card:hover .vscode {
  animation: flipflop 1.5s ease-in-out;
}

/* New flip animation styles for HTML5 & CSS */
.html-css {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.card:hover .html-css {
  animation: flip 2s ease 0s 1 normal forwards;
}

.sql {
  transform-style: preserve-3d; /* Ensure 3D transformation is preserved */
  transition: transform 0.5s ease; /* Specify the transition property */
}

.card:hover .sql {
  animation: sql 2s ease 0s 1 normal forwards;
}

.icon.clicked.vscode {
  animation: flipflop 1.5s ease-in-out;
}

.icon.clicked.sql {
  animation: sql 2s ease 0s 1 normal forwards;
}

.icon.clicked.html-css {
  animation: flip 2s ease 0s 1 normal forwards;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg); /* Full flip */
  }
}

@keyframes flipflop {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg)
      rotate3d(0, 0, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 180deg) rotate3d(0, 1, 0, 180deg)
      rotate3d(0, 0, 1, 180deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 360deg) rotate3d(0, 1, 0, 360deg)
      rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes sql {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

h1 {
  font-family: "eurostile", sans-serif;
}
.about {
  background-color: var(--blue);
}

#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  background-color: var(--darker-blue);
  border-color: var(--white);
  color: var(--white);
  z-index: 999;
}

#btn-back-to-top:hover {
  transition: 1s;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  animation: animate 5s linear infinite;
  z-index: 998;
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
}
#progressBar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#progressBar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#progressBar,
#progressBar:before,
#progressBar:after {
  background: linear-gradient(to top, #3498db, #2ecc71);
}
.in-nav {
  padding-left: 10px;
}
.in-nav .checkbox {
  margin-top: 1.5px;
}
.out-nav {
  display: none;
}
.toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  text-align: right;
  position: relative;
  top: 3px;
  left: 3px;
  width: 50px;
  height: 22px;
  font-size: 10px;
  display: block;
  background: #e6e6e6;
  border-radius: 30px;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  padding: 2px 8px;
}
.toggle span {
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.toggle span:before {
  font-family: "Fontawesome";
  content: "\f186";
  position: absolute;
  display: block;
  margin: 0;
  width: 24px;
  height: 24px;
  background: #000;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: none;
  color: #fff;
}

#cbx:checked + .toggle:before,
#cbx2:checked + .toggle:before {
  background: #f6d379;
  content: "";
  text-align: left;
  color: #fff;
}

#cbx:checked + .toggle span,
#cbx2:checked + .toggle span {
  background: #f1bc31;
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
  -webkit-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25),
    background 0.15s ease;
  -o-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25),
    background 0.15s ease;
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
}
#cbx:checked + .toggle span:before,
#cbx2:checked + .toggle span:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "Fontawesome";
  content: "\f185";
  background: #f1bc31;
  color: #000;
}

.toggler {
  margin-right: 40px;
}

.footer {
  background-color: var(--dark-blue-almost-black);
}

@media (max-width: 990px) {
  .in-nav {
    display: none;
  }
  .out-nav {
    display: block;
    margin-right: 20px;
  }
  .card:hover {
    transform: scale(1.01);
  }
}

@media (max-width: 768px) {
  #scrollPath {
    display: none;
    width: 0px;
    height: 0px;
  }

  #progressBar {
    display: none;
    width: 0px;
    height: 0px;
  }
}
